[submodule "lsfg-vk-android"]
	path = lsfg-vk-android
	url = https://github.com/vairacing-tech/lsfg-vk-android.git
	branch = feature/functional-backend
[submodule "LSFG-Android-Application"]
	path = LSFG-Android-Application
	url = https://github.com/FrankBarretta/LSFG-Android-Application.git
